
header{
    background-color:rgb(68, 65, 77);
    color:white;
}


.search:hover{
    transform: scale(1.1);
}
/*.uppernav{
    height:65%;
    width:60%;
   margin-top:15px;
    border-radius:2%;
    background-color: white;
}


.innernav{
   
color:white;
border:2px solid green;

}*/


 #banner{
    height:350px;
    margin-top:10px;
  
}
#slider{
    margin-top:20px;
 
}
.csscard{

    width:250px;
}
#slider1{
    margin-left:auto;
 background-color:rgb(73, 57, 126);

}
.play{
    color:red;
}

footer{
       width:100%;
    margin-top:20px;

    background-color:rgb(36, 33, 46);
}
.button{
    margin-top: 20px;
 
}
.logos{
    background-color: rgb(65, 65, 85);
}
.logo{ margin-top: 20px;
   margin-left:50%;
}

.socialLogo{
    height:50px;
    color:rgb(117, 110, 110)
  
}
.sociallogo:hover{
    transform:scale(1.1);
}
.text{
    margin-top: 10px;
    text-align: center;
    color:rgb(238, 234, 234);
}